spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_CLIENT_ID}
            client-secret: ${OAUTH_CLIENT_SECRET}
            redirect-uri: "http://localhost:8080/api/users/login/oauth2/code/google"
            scope:
              - profile
              - email
