spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_CLIENT_ID}
            client-secret: ${OAUTH_CLIENT_SECRET}
            redirect-uri: ${OAUTH_BACKEND_URI}/login/oauth2/code/google
            scope:
              - profile
              - email
app:
  oauth2:
    redirect-uri: ${OAUTH_FRONTEND_URI}/login-success
